*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}

body{
    background: #ececec;
}
/* ---------------nav-bar------------------------------------------------ */
.nav-bar{
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: white;
}
.nav-bar .nav-bar-left{
  display: flex;
  align-items: center;
  width: 24%;
}
.nav-bar .nav-bar-left .logo{
  border: 1px solid rgb(0, 0, 0);
  width: 33%;
  margin-left: 0.5rem;
}
.nav-bar .nav-bar-left .logo img{
  width: 95%;
  
}
.nav-bar .nav-bar-left .logo:hover{
  border: 1px solid white;
}
.nav-bar .nav-bar-left .location{
  border: 1px solid rgb(0, 0, 0);
  margin-left: 2px;
  padding: 6px 3px;
}
.nav-bar .nav-bar-left .location:hover{
  border: 1px solid white;
}
.nav-bar .nav-bar-left .location .location-title-botton{
  display: flex;
  align-items: center;
}
.nav-bar .nav-bar-left .location .location-title-top{
  font-size: 12px;
  color: #9b9999;
  font-weight: bold;
  margin-left:1.9rem;
  margin-bottom: -6px;
}
.nav-bar .nav-bar-left .location .location-title-botton .icon{
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 4px;
}
.nav-bar .nav-bar-left .location .location-title-botton .title{
  font-weight: bold;

}
.nav-bar .nav-bar-left .location .location-title-botton .icon img{
  width: 26px;
}



.nav-bar-center{
  background: #000000c8;
  padding: 2px;
  width: 50%;
  border-radius: 5px;
}
.nav-bar-center:hover{
  background: #ff8800;
}
.nav-bar-center .item-center{
  display: flex;
  width: 100%;
  align-items: center;
}
.nav-bar-center .item-center select{
  color: #2b2b2b;
  width: 8%;
  border: none;
  outline: none;
  padding: 0.64rem;
  border-radius: 5px 0 0 5px;
  background: #dedede;
}
.nav-bar-center .item-center select option{
  display: flex;
  color: #000;
 
}
.nav-bar-center .item-center .input{
  color: #ffffff;
  width: 90%;
  border: none;  
}
.nav-bar-center .item-center input {
  width: 95%;
  outline: none;
  padding: 0.63rem;
  width: 96.5%;
  color: #000;
  
}

.nav-bar-center .item-center .icon {
  background: #ffb300fc;
  width: 3%;
  margin-top: 0.5px;
  padding: 0.62rem;
  border-radius:0 5px 5px 0;  
}
.nav-bar-center .item-center .icon i{
  color: #000000; 
  font-size:1.1rem;
}


.nav-bar .nav-bar-right{
  display: flex;
  align-items: center;
  width: 30%;

}
.nav-bar .nav-bar-right .select-country{ 
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.82rem 0.3rem;
  margin-left: 0.4rem;
  width: 30%;
  

}
.nav-bar .nav-bar-right .select-country:hover{ 
  border: 1px solid rgb(255, 255, 255);

}
.nav-bar .nav-bar-right .select-country .country{ 
  font-weight: bold;
  margin-left: 2px;

}
.nav-bar .nav-bar-right .select-country select{ 
  background: #000;
  width: 20px;
  padding: 0.1rem;
  color: white;
  border: rgb(0, 0, 0);
 

}
.nav-bar .nav-bar-right .select-country select option{ 
  width: 100%;
  background: #ffffff;
  padding: 0.1rem;
  border: rgb(0, 0, 0);
  color: #000;
}
.nav-bar .nav-bar-right .select-country  img{ 
 width: 25%;
}

.nav-bar .nav-bar-right .account {
  margin-left: 10px;


}
.nav-bar .nav-bar-right .account{
  border: 1px solid #000;
  padding: 0.6rem;
}
.nav-bar .nav-bar-right .account:hover{
  border: 1px solid #ffffff;
}

.nav-bar .nav-bar-right .account .text{
  font-size: 11.5px;
}
.nav-bar .nav-bar-right .account .name{
  font-size: 13px;
  font-weight: bold;
}
.nav-bar .nav-bar-right .order{
  margin-left: 2px;
  padding: 0.6rem 3px;
  border: 1px solid #000;
}

.nav-bar .nav-bar-right .order:hover{
  border: 1px solid #ffffff;
}
.nav-bar .nav-bar-right .order .text{
  font-size: 11.5px;
}
.nav-bar .nav-bar-right .order .name{
  font-size: 13px;
  font-weight: bold;
}
.nav-bar .nav-bar-right .cart{
  display: flex;
  align-items: center;
  margin-left: 2px;
  padding: 0.08rem 3px;
  border: 1px solid #000;
}

.nav-bar .nav-bar-right .cart:hover{
  border: 1px solid #ffffff;
}
.nav-bar .nav-bar-right .cart .icon{
  font-size:2.5rem;
}
.nav-bar .nav-bar-right .cart .icon i{
  color: #ff8800;

}
.nav-bar .nav-bar-right .cart .text{
  font-size:1rem;
  font-weight: bold;
  position: relative;
 margin-top: 1rem;

}
/* ----------------------------------sub-nav---------------------------------------------- */

.sub-nav-bar{
  color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #232d34;


}
.sub-nav-bar .left{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.sub-nav-bar .left .hamberger-menu{
  display: flex;
  align-items: center;
  padding: 8px 4px;
  border: 1px solid #232d34;
  margin-left: 10px;
}
.sub-nav-bar .left .hamberger-menu:hover{
  border: 1px solid #fcfcfc;
}
.sub-nav-bar .left .hamberger-menu .icon i{
  font-size: 1.5rem;
  margin-left: 5px;
}
.sub-nav-bar .left .hamberger-menu .text{
  margin-left: 5px;
}
.sub-nav-bar .left li{
  list-style: none;
  font-weight: normal;
  margin:0 3px;
  border: 1px solid #232d34;
  padding: 12px 4px;

}
.sub-nav-bar .left li:hover{
  border: 1px solid #fcfcfc;
  
}
.sub-nav-bar .right{
 margin-right: 1rem;
 font-size: 15px;
 border: 1px solid #232d34;
  padding: 5px 4px;
}
.sub-nav-bar .right:hover{
  border: 1px solid #fcfcfc;

}
/* --------------------Banner-------------------------------- */
#banner{
  color: #000;
  background: #000;
  padding: 0;margin: 0;
}
#banner .mySlides img{
 height: 86.1vh;
 opacity: 1;
 
}
.banner-container .btn{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin:auto;
  padding: 5.8rem 0;
  position: relative;
}
.banner-container .btn .prev {
  font-size: 3rem;
  font-weight: normal;
  padding: 5px;
  background: rgba(255, 255, 255, 0.426);
}
.banner-container .next {
  font-size: 3rem;
  padding: 5px;
  background: rgba(255, 255, 255, 0.426);
}
.banner-container .next:hover{
  box-shadow: 0 2px 10px #ffffff;
  background: rgba(255, 255, 255, 0.688);
}
.banner-container .prev:hover{
  box-shadow: 0 2px 10px #ffffff;
  background: rgba(255, 255, 255, 0.688);
}

#banner {width: 100%; position: relative}
#banner > * {visibility: hidden; position: absolute;
  top: 0; left: 0; animation: 12s autoplay1 infinite}
@keyframes autoplay1 {
  0% {visibility: visible}
  33.33% {visibility: hidden}
  }
#banner > *:nth-child(1) {animation-delay: 0s}
#banner > *:nth-child(2) {animation-delay: 4s}
#banner > *:nth-child(3) {animation-delay: 8s}
#banner > *:nth-child(4) {animation-delay: 12s}
#banner > *:nth-child(5) {animation-delay: 16s}
#banner > *:nth-child(6) {animation-delay: 18s}
/* ------------Sub navbar_2--------------------------------------------------------------- */

.sub-nav-bar_2 ul{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.sub-nav-bar_2 ul li{
  padding: 2px;
  list-style: none;
}

.sub-nav-bar_2 ul li a{
  color: rgb(52, 51, 51);
  text-decoration: none;
  font-size: 11px;
  padding: 7px;
  list-style: none;
  font-weight: 300;
}
.sub-nav-bar_2 ul li a:hover{
  color: #eca90c;
  text-underline-offset: 0.8em;
  text-decoration-line: underline ;
  text-decoration-thickness: 1.5px
}
/* ------------dropdown menu---------------------------------------------------------------------- */
.sub-nav-bar_2 {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color:  rgb(52, 51, 51);
    margin: 0;
  }

  .dropdown .dropbtn a{
    color: rgb(52, 51, 51);
    text-decoration: none;
    font-size: 11px;
    list-style: none;
    font-weight: 300;
  }
  .sub-nav-bar_2 .dropdown .dropbtn a:hover{
    color:  #eca90c;
  }

  .dropdown-content {
    margin-top: 7px;
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 1;
    transition: all 1s;
  }

  .dropdown:hover .dropdown-content {
    visibility: visible;
    
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 9%;
    padding: 10px;
    background-color: white;
    height: 200px;
    
  }
  .column a {
    float: none;
    color: black;
    font-size: 11px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .column a:hover {
    color: #eca90c;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }

/* ---------third navbar------------------------------------------------------------- */
.menu_content{
  color: rgb(35, 2, 32);
}
.sub-nav-bar_3 ul{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.sub-nav-bar_3 ul li{
  padding: 2px;
  list-style: none;
}

.sub-nav-bar_3 ul li a{
  color: rgb(4, 56, 56);
  text-decoration: none;
  font-size: 14px;
  padding: 7px;
  list-style: none;
  font-weight: 300;
}
.sub-nav-bar_3 ul li a:hover{
  color: rgb(56, 123, 120);
  text-underline-offset: 1.5em;
  text-decoration-line: underline ;
  text-decoration-thickness: 1.5px
}
/* -----------Container---------------------------------------------------- */
.container{
  margin-top: 50px;
  background: #ffff;
  margin-top: 40px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  width: 50%;
  margin: 0;
  padding: 0;
}
.card-2{
  width: 33.33%;
}
.card-2 img{
  width: 100%;
  height: auto;
}
.card img{
  width: 100%;
  height: auto;
}
/* ---------Swiper slider gruop---------------------------------- */

.swiper-container {
  margin-top: 10px;
  width: 96%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
/* disable scrollbar */
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  gap: 25px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .card-item {
  width: 160px;
  height: 120hv;
  
}
.slider-wrapper .image-list .card-item .card-image-container{
  display: flex;
  align-items: center;
  width: 160px;
  height: 35vh;
}
.slider-wrapper .image-list .card-item .card-content {
 margin: 0;
}
.slider-wrapper .image-list .card-image {
  width: 100%;
  height:auto;
  object-fit: cover;
}
.slider-wrapper .image-list .card-content {
  width: 100%;
  height:auto;
  object-fit: cover;
  background: #ffff;
  padding: 10px;

}
.slider-wrapper .image-list .card-item .card-content .sub-text {
  font-size: 10px;
 }
.slider-wrapper .image-list .card-item .card-content .card-title {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
 }
 .slider-wrapper .image-list .card-item .card-content a:hover {
  color: rgb(157, 40, 8)
 }
.slider-wrapper .image-list .card-item .card-content .card-body {
  font-size: 16px;
  padding-top: 10px;
 }
 .slider-wrapper .image-list .card-item .card-content .icon {
  display: flex;
  flex-wrap: wrap;
 }
 .slider-wrapper .image-list .card-item .card-content .icon .star {
   font-size: 15px;
   color: orange;
 }
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: none;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .card-image {
    width: 100%;
    height: auto;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
/* ...................End Swiper ...................... */
/* --------------------container-seperate-bar----------------- */

.container-seperate-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: rgba(237, 236, 236, 0.8);
  margin: 60px 15px 15px 15px;
}
.container-seperate-bar a{
  text-decoration: none;
  color: #000;
}
.question-container{
  margin-top: 60px;
  height: 48vh;
}
.question-container h2{
  padding: 5px 10px 0 22px ;
}
.question-item{
  padding: 3px;
}

.question-item p, h3{
  padding-top: 6px;
  padding-left: 20px;
}